/*  ===============ACCOUNT============== */

body {
    color: rgba(0, 0, 0, .9);
}

.callSettingBody {
    padding-bottom: 5rem;
}

.accSection {
    width: 90%;
    margin: 1rem auto;
    border: 1px solid #ecf0f4;
    box-shadow: 0 0 7px 0 #eaeff4;
    -webkit-box-shadow: 0 0 7px 0 #eaeff4;
    border-radius: 10px;
    overflow: hidden;
}

#accHeader {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-image: url(../images/pattern2.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    border-bottom: 1px solid #ecf0f4;
}

.accHeader-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accHeader-top i {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, .6);
}

.accHeader-top a:hover i {
    cursor: pointer;
    color: rgba(0, 0, 0, .8);
}

.accHeader-top a:nth-child(2) {
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 50px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.accHeader-top a:nth-child(2) i {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    height: 100%;
    display: flex;
    /* display: none; */
    align-items: center;
    justify-content: center;
    transition: all ease .6s;
    opacity: 0;
}

.accHeader-top a:nth-child(2):hover i {
    opacity: .5;
}

.accHeader-top img {
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: center;
    background-color: #fff;
}

.accHeader-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 0 0;
}

.accHeader-bottom div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accHeader-bottom div h4 {
    font-weight: 100;
    font-size: 1rem;
    margin-bottom: .5rem;
    color: rgba(0, 0, 0, .8);
}

.accHeader-bottom a {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.accHeader-bottom div p {
    font-size: .9rem;
    color: rgba(0, 0, 0, .5);
    letter-spacing: 1px;
    margin: .1rem .3rem;
}

.accHeader-bottom i {
    font-size: 1rem;
    color: #19bfd3;
}

.accHeader-bottom a:hover i {
    color: #00e5ff;
}

.accItems>a {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid #ecf0f4;
    border-right: none;
    border-left: none;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.accItems>a:hover,
.accItems>.accDropDownMenu:hover {
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
}

.accItems>a>div,
.accItems>.accDropDownMenu>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.accItems>a i,
.accItems>.accDropDownMenu i {
    color: rgba(0, 0, 0, .6);
}

.accItems a:hover>i,
.accItems .accDropDownMenu:hover>i {
    color: #19bfd3;
}

.accItems>a>div>p,
.accItems>.accDropDownMenu>div>p {
    font-size: .9rem;
    color: rgba(0, 0, 0, .8);
    margin-right: .7rem;
}

.accItems a#accExit:hover i {
    color: rgb(255, 0, 0);
}

.accItems a#accExit:hover p {
    color: rgb(255, 0, 0);
}

/*  ===============SETTING============== */

.setting-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #fff;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setting-footer h2 {
    padding-right: 0.4rem;
    color: #265073;
    font-family: "Lalehzar";
    font-size: 1.4rem;
    font-weight: 100;
    margin: 0;
}

.accExitAccount {
    justify-content: center !important;
}

.accExitAccount>div p,
.accExitAccount>div i {
    color: #ef4056 !important;
}

.accExitAccount:hover i,
.accExitAccount:hover p {
    color: red !important;
}

.accSettingHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid #ecf0f4;
    border-right: none;
    border-left: none;
    padding: 1rem;
    justify-content: space-between;
}

.accSettingHeader>a>i {
    color: rgba(0, 0, 0, .9);
}

.accSettingHeader a:hover i {
    color: red;
}

/*  ===============CALLUS============== */

.accDropDownMenu {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid #ecf0f4;
    border-right: none;
    border-left: none;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.accDropDownItem {
    display: none;
    /* display: flex; */
    width: 100%;
    flex-direction: column;
    border: 1px solid #ecf0f4;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 1rem;
    border-top: 0;
    font-size: .9rem;
    color: rgba(0, 0, 0, .9);
}

.Qanswer {
    display: none !important;
}

.activeDropDown {
    display: flex !important;
}

.removeBorderBottom {
    border-bottom: none !important;
}

.openDropDown {
    transform: rotate(-90deg) !important;
    color: #19bfd3 !important;
}

.accDropDownItem>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ecf0f4;
    margin: 0 1rem;
}

.accDropDownItem>div:first-child {
    padding-top: .5rem;
}

.accDropDownItem>div:last-child {
    border: none;
    padding-bottom: .5rem;
}

.addressP {
    line-height: 25px;
}

.map {
    width: 100%;
    border: 0;

}

.socialMediaItem>div>div {
    display: flex;
    flex-direction: row;
}

.socialMediaItem>div>div>i {
    margin-left: .5rem;
    font-size: 1rem;
}

.socialMediaItem i.fa-instagram {
    font-size: 1.2rem;
    background: linear-gradient(to top, #833ab4, #fd1d1d, #fcb045);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.socialMediaItem i.fa-telegram {
    color: #2aa1dd;
}

.socialMediaItem i.eita {
    color: orange;
}

/*  ===============QUESTIONS============== */

.questions {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.questions:nth-last-child(2) {
    border: none;
    padding-bottom: 0.5rem;
}

.Qanswer {
    line-height: 25px;
    margin: auto !important;
}

/*  ===============TICKET============== */

.ticketItem>a {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid #ecf0f4;
    margin: 0;
    margin-bottom: 1rem;
}

.ticketItem>a:hover {
    background-color: rgba(0, 0, 0, .05);
}

.ticketItem>a>div,
.ticketItem>a>i {
    display: flex;
    font-size: .9rem;
    color: rgba(0, 0, 0, .8);
}

.ticketItem>a>div>i {
    margin-left: .5rem;
}

.newTicketSection>form {
    padding: 1rem;
}

.newTicketSection>form>div {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    font-size: .9rem;
}

.newTicketSection select {
    font-size: .9rem;
    padding: 0 .5rem !important;
}

.ticketInp,
#changePassBtn,
#forgetPassBtn,
#changeAddress {
    width: 100%;
    outline: none;
    font-size: .9em;
    margin: 10px 0 15px;
    padding: 12px;
    border-radius: 3px;
    height: 38px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgba(0, 0, 0, .05);
    line-height: 20px;
}

.newTicketSection textarea {
    max-width: 100%;
    min-width: 100%;
    height: 20rem;
}

.ticketInp:hover {
    background-color: rgb(247, 247, 247);
    box-shadow: inset 2px 2px #50c8ff, inset -2px -2px #0095da;
}

.ticketInp:focus {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: inset 2px 2px #50c8ff, inset -2px -2px #0095da;
}

.newTicketSection button {
    border: none;
    outline: none;
    background-color: #38ca62;
    color: white;
    border-radius: 3px;
    padding: 0.6rem 1.3rem;
    margin: .3rem auto;
}

.newTicketSection button:hover {
    cursor: pointer;
    background-color: #2eb353;
}

#divSubject {
    display: none;
}

/* ========= all ticket ========= */

.allTicket {
    padding: 1rem;
    color: rgba(0, 0, 0, .8);
}

.allTicket>li {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin-top: 1rem;
}

.allTicket>li:first-child {
    margin-top: 0;
}

.allTicket>li>div {
    border-top: 1px solid #ecf0f4;
}

.allTicket>li>div:first-child {
    border-top: none;
}

.allTicket--top {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.allTicket--top p:first-child {
    font-size: .9rem;
    color: #19bfd3;
}

.allTicket--top p:nth-child(2) {
    font-size: .8rem;
    margin: 0 .5rem 0 .2rem;
}

.allTicket--top p:last-child {
    font-size: .9rem;
    align-self: center;
}

.allTicket--middle {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    font-size: .8rem;
    justify-content: space-between;
}

.allTicket--middle>div {
    display: flex;
    flex-direction: row;
}

.allTicket--middle>div>i {
    margin-left: .4rem;
}

.showResponse {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    font-size: .8rem;
    align-items: center;
}

.showResponse:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .05);
}

.showResponse:hover>i {
    color: #19bfd3;
}

.ResponseTxt>p {
    padding: .5rem 1.5rem;
    font-size: .85rem;
    line-height: 25px;
}

.ResponseTxt {
    display: none;
}

.ResponseTxtActive {
    display: block;
}

.allTicket--middle>div:first-child>p>span {
    margin-right: .1rem;
}

.noResponse {
    color: #ff001d;
    justify-content: center;
}

.noResponse:hover {
    background-color: #fff;
    cursor: default;
}

.ticketHeaderP {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.ticketHeaderP a {
    font-size: .8rem;
    margin-right: 1rem;
    color: #19bfd3;
}

.ticketHeaderP a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(0, 223, 248);
}

/*  ===============EDIT PROFILE============== */

.editProfile--pic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editProfile--pic div:first-child {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 50px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.editProfile--pic div:first-child img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    background-color: #fff;
}

.editProfile--name label span {
    color: red;
}

#formBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#changePassBtn,
#forgetPassBtn,
#changeAddress {
    flex-basis: 47%;
    background-color: #5dbea3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#changeAddress {
    flex-basis: 100%;
    padding: .4rem 0;
    background-color: #5783db;
}

/* ADDRESS */

#addExtra {
    max-width: 100%;
    min-width: 100%;
    height: 5rem;
}

.plateUnit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plateUnit div {
    display: flex;
    flex-direction: column;
    flex-basis: 47%;
}

.plateUnit div input {
    text-align: center;
}

/*  ===============LOG / SING============== */

.areaAnime {
    background-color: #0093E9;
    background-image: linear-gradient(to top, #0093E9 0%, #80D0C7 100%);
    width: 100%;
    height: 100vh;
}

.circlesAnime {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circlesAnime li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animateAnime 25s linear infinite;
    bottom: -150px;

}

.circlesAnime li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circlesAnime li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circlesAnime li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circlesAnime li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circlesAnime li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circlesAnime li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circlesAnime li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circlesAnime li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circlesAnime li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circlesAnime li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animateAnime {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


/* Singup */

body {
    padding-bottom: 0;
}

.formParent {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    width: 85%;
    position: relative;
    margin: auto;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 20px;
    background-color: #fff;
    font-size: .9em;
    color: rgba(0, 0, 0, .9);
    z-index: 5;
}

.loginTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.loginTop h3 {
    font-size: 1.1em;
    font-weight: 400;
    color: rgba(0, 0, 0, .9);
}

.loginTop h3 span {
    padding-right: 0.3rem;
    color: #265073;
    font-family: "Lalehzar";
    font-size: 1.2rem;
    font-weight: 100;
    margin: 0;
}

.loginTop i {
    color: red;
    font-size: 1.1em;
    cursor: pointer;
}

.loginTop a:hover i {
    color: rgb(255, 132, 132);
}

.login>hr {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 15px 0;
}

.loginSection label {
    display: flex;
}

.loginSection label:hover {
    cursor: pointer;
}

.loginSection i {
    margin-left: 10px;
    color: #182C61;
    font-size: 1rem;
}

.loginSection input {
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, .1);
    font-size: .8em;
    margin: 10px 0 15px;
    padding: 12px;
    border-radius: 3px;
    height: 38px;
}

.loginSection input:hover {
    background-color: rgb(247, 247, 247);
    box-shadow: inset 2px 2px #50c8ff, inset -2px -2px #0095da;
}

.loginSection input:focus {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: inset 2px 2px #50c8ff, inset -2px -2px #0095da;
}

.loginBottom-showPass {
    display: flex;
    flex-direction: row;
}

.loginBottom-showPass input:hover {
    cursor: pointer;
}

.loginBottom-showPass label {
    color: rgba(0, 0, 0, .7);
    font-size: .8rem;
    margin-right: .6rem;
    cursor: pointer;
}

.loginBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.loginBottom button {
    border: none;
    outline: none;
    background-color: #38ca62;
    color: white;
    border-radius: 3px;
    padding: .6rem 1.3rem;
}

.loginBottom button:hover {
    cursor: pointer;
    background-color: #2eb353;
}

.loginBottom a,
.forgetPass a {
    color: rgba(0, 0, 0, .8);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: .7rem;
    line-height: 20px;
}

.loginBottom a:hover,
.forgetPass a:hover {
    border: none;
    cursor: pointer;
    color: rgba(0, 0, 0, .7);
}

.forgetPass {
    font-size: .7rem;
    margin: 12px 0 20px;
}

/* FORGET PASSWORD PAGE */

.forgetBtn {
    justify-content: center;
}

.forgetEmail {
    margin: 10px 0 !important;
}

#reCode {
    background-color: #17a2b8;
}

#reCodeLable {
    display: none;
    margin-top: 5px;
}

#reCodeInp {
    display: none;
    margin: 10px 0;
}

#doneCode {
    display: none;
}

@media screen and (max-width:350px) {
    #changePassBtn , #forgetPassBtn {
        flex-basis: 100%;
    }
}

@media screen and (min-width:500px) {
    .alertBox {
        width: 300px;
    }
    #formBtn a {
        flex-basis: 30%;
    }
    #changePassBtn {
        order: 1;
    }
    #forgetPassBtn {
        order: 3;
    }
    #changeAddress {
       order: 2; 
    }
}

@media screen and (min-width:800px) {
    .login {
        width: 400px;
    }

    .accSection {
        width: 720px;
        margin-top: 3rem;
    }
}