
/* ===========MY ORDERS============= */

header > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1.5rem;
    border-bottom: 5px solid rgba(0,0,0,.05);
}

header h3 , header a i {
    color: rgba(0,0,0,.9);
    font-size: .9rem;
    font-weight: 400;
}

header a {
    margin-left: .7rem;
}

.sectionHeader {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.sectionHeader > a {
    padding: 1rem 0 .8rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-basis: 25%;
    justify-content: center;
    font-size: .8rem;
    color: #a1a3a8;
    align-items: center;
}

.sectionHeader > a > div {
    border: 1px solid rgba(0,0,0,.2);
    padding: .2rem .4rem .1rem;
    border-radius: 25px;
    margin-right: .4rem;
}

.orderActive {
    color: #ef4056 !important;
    border-bottom: 3px #ef4056 solid;
}

.orderActive div {
    background-color: #ef4056;
    color: white;
    border: none !important;
    border-radius: 5px !important;
}

.orderShortcut {
    padding: 1rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.OSstatus {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: .85rem;
    padding: 1rem 0;
}

.OSstatus > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.OSstatus > div i {
    font-size: 1.2rem;
    color: #6bb927;
    margin-left: .1rem;
}

.OSstatus p {
    margin-right: .5rem;
}