
/* ===========MY ORDERS============= */

header > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1.5rem;
    border-bottom: 5px solid rgba(0,0,0,.05);
}

header h3 , header a i {
    color: rgba(0,0,0,.9);
    font-size: .9rem;
    font-weight: 400;
}

header a {
    margin-left: .7rem;
}

.sectionHeader {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.sectionHeader > a {
    padding: 1rem 0 .8rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-basis: 25%;
    justify-content: center;
    font-size: .8rem;
    color: #a1a3a8;
    align-items: center;
}

.sectionHeader > a > div {
    border: 1px solid rgba(0,0,0,.2);
    padding: .2rem .4rem .1rem;
    border-radius: 25px;
    margin-right: .4rem;
}

.orderActive {
    color: #ef4056 !important;
    border-bottom: 3px #ef4056 solid;
}

.orderActive div{
    background-color: #ef4056;
    color: white;
    border: none !important;
    border-radius: 5px !important;
}

.orderShortcut {
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.OSstatus ,
.OSsave ,
.OSprice ,
.OSitems {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: .8rem;
    padding: 1rem 2rem 0;
    justify-content: space-between;
}

.OSprice {
    padding-left: 0;
}

.OSstatus div ,
.OSsave div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.OSstatus div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.OSstatus div > div i,
.OSsave i {
    font-size: 1.2rem;
    margin-left: .1rem;
}

.OSstatus p ,
.OSsave > div p ,
.OSsave > div p span {
    margin-right: .5rem;
}

.OSstatus div:nth-child(2) > p ,
.OSsave > p {
    color: rgba(0,0,0,.5);
}

.OSstatus div:nth-child(2) > p span ,
.OSsave > p span {
    color: rgba(0,0,0,.9);
}

.OSitems {
    justify-content: flex-start;
}

.OSitems div img {
    width: 40px;
    object-fit: contain;
    margin-left: 1rem;
}

.OSprice div {
    display: flex;
    flex-direction: row;
}

.OSprice div p:nth-child(2) {
    margin-right: .5rem;
    font-size: .9rem;
}

.OSprice div p:nth-child(2) span {
    font-size: .8rem;
    color: rgba(0,0,0,.5);
}

.OSprice > i {
    font-size: 1rem;
}

.successIco {
    color: #6bb927;
}
.infoIco {
    color: #17a2b8;
}
.cancelIco {
    color: #ef4056 !important;
}
.dangerIco {
    color: #ffc107 !important;
}
.fa-truck {
    font-size: 1.1rem !important;
}



/* ============ORDER DETAIL============ */


.ODdetailSection {
    width: 100%;
}

.ODdetailSection > div {
    padding: 1rem;
    font-size: .9rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
}

.ODdetailSection > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.ODdetailSection > div > div:first-child {
    margin-top: 0;
}

.ODdetailAddress {
    flex-direction: column !important;
}

.ODdetailAddress p:last-child {
    margin-top: 1rem;
    line-height: 25px;
}

.ODdetailSection > div > div p:first-child {
    color: rgba(0,0,0,.6);
}




@media screen and (min-width:500px) {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sectionHeader {
        border: 1px solid rgba(0,0,0,.05);
        border-top: 0;
        width: 500px;
    }
    #sectionContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .orderShortcut {
        width: 500px;
        border: 1px solid rgba(0,0,0,.05);
        border-top: none;
    }
}