/* ===========MY ORDERS============= */

header>div:not(.catHeaderTask, .productDetailHeader) {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1.5rem;
    border-bottom: 5px solid rgba(0, 0, 0, .05);
}

header h3,
header a i {
    color: rgba(0, 0, 0, .9);
    font-size: .9rem;
    font-weight: 400;
}

header a {
    margin-left: .7rem;
}

.sectionHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.sectionHeader>a {
    padding: 1rem 0 .8rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-basis: 25%;
    justify-content: center;
    font-size: .8rem;
    color: #a1a3a8;
    align-items: center;
}

.sectionHeader>a>div {
    border: 1px solid rgba(0, 0, 0, .2);
    padding: .2rem .4rem .1rem;
    border-radius: 25px;
    margin-right: .4rem;
}

.orderActive {
    color: #ef4056 !important;
    border-bottom: 3px #ef4056 solid;
}

.orderActive div {
    background-color: #ef4056;
    color: white;
    border: none !important;
    border-radius: 5px !important;
}

.orderShortcut {
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    width: 100%;
}

.OSstatus,
.OSsave,
.OSprice,
.OSitems {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: .8rem;
    padding: 1rem 2rem 0;
    justify-content: space-between;
}

.OSprice {
    padding-left: 0;
}

.OSstatus div,
.OSsave div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.OSstatus div>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.OSstatus div>div i,
.OSsave i {
    font-size: 1.2rem;
    margin-left: .1rem;
}

.OSstatus p,
.OSsave>div p,
.OSsave>div p span {
    margin-right: .5rem;
}

.OSstatus div:nth-child(2)>p,
.OSsave>p {
    color: rgba(0, 0, 0, .5);
}

.OSstatus div:nth-child(2)>p span,
.OSsave>p span {
    color: rgba(0, 0, 0, .9);
}

.OSitems {
    justify-content: flex-start;
}

.OSitems div img {
    width: 40px;
    object-fit: contain;
    margin-left: 1rem;
}

.OSprice div {
    display: flex;
    flex-direction: row;
}

.OSprice div p:nth-child(2) {
    margin-right: .5rem;
    font-size: .9rem;
}

.OSprice div p:nth-child(2) span {
    font-size: .8rem;
    color: rgba(0, 0, 0, .5);
}

.OSprice>i {
    font-size: 1rem;
}

.successIco {
    color: #6bb927;
}

.infoIco {
    color: #17a2b8;
}

.cancelIco {
    color: #ef4056 !important;
}

.dangerIco {
    color: #ffc107 !important;
}

.fa-truck {
    font-size: 1.1rem !important;
}




/* ============ORDER DETAIL============ */


.ODdetailSection {
    width: 100%;
}

.ODdetailSection>div {
    padding: 1rem 2rem;
    font-size: .9rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ODdetailSection>div>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.ODdetailSection>div>div:first-child {
    margin-top: 0;
}

.ODdetailAddress {
    flex-direction: column !important;
}

.ODdetailAddress p:last-child {
    margin-top: 1rem;
    line-height: 25px;
}

.ODdetailSection>div>div p:first-child {
    color: rgba(0, 0, 0, .6);
}

.DetailOrderItems {
    display: flex;
    flex-direction: column !important;
}

.DetailOrderItems>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    justify-content: space-between;
    padding: .5rem 0;
}

.DetailOrderItems>div:last-child {
    border: none !important;
}

.DetailOrderItems>div img {
    width: 100px;
}

.DetailOrderItems>div>div:last-child {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    flex-grow: 1;
}

.DetailOrderItems>div>div:last-child div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.DetailOrderItems p {
    line-height: 25px;
    padding-bottom: .5rem;
    font-size: .8rem !important;
    color: rgba(0, 0, 0, .9) !important;
}

/* ===========MY FAVORITE============= */

.Items {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.Item {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: .5rem 0 1.5rem;
}

.Item--status {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Item--status div:first-child {
    /* width: 40%; */
    flex-basis: 30%;
    object-fit: cover;
}

.Item--status div:first-child img {
    width: 100%;
}

.Item--status div:last-child {
    flex-basis: 70%;
}

.Item--status div:last-child h4 {
    font-weight: 100;
    font-size: .9rem;
    padding: 1rem 1.5rem;
    line-height: 25px;
}

.Item--price {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: .9rem;
}

.Item--price span {
    font-size: .8rem;
}

.Item--price_offer {
    margin-left: .5rem;
    text-decoration: line-through;
    color: #c0c2c5 !important;
}

.Item--btn {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.Item--btn div,
.Item--btn a {
    border: 1px solid black;
    border-radius: 5px;
    padding: .5rem;
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.Item--btn div i,
.Item--btn a i {
    margin-left: .5rem;
    font-size: 1.1rem;
}

.Item--btn div:nth-child(1) i,
.Item--btn a i {
    margin-left: 0;
}

.Item--btn div:nth-child(1),
.Item--btn a {
    border-color: rgba(0, 0, 0, .2);
    color: rgba(0, 0, 0, .5);
    flex-basis: 10%;
}

.Item--btn div:nth-child(2) {
    border-color: #e6123d;
    color: #e6123d;
    flex-basis: 80%;
    margin: 0 1rem;
}

.Item--btn div:first-child:hover {
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
}

.Item--btn div:nth-child(2):hover {
    background-color: #ff325b;
    color: #fff;
    cursor: pointer;
}

.Item--btn a:hover {
    background-color: #17a2b8;
    color: #fff;
    cursor: pointer;
}

/* ===========SEARCH PAGE============= */

.searchHeader>div {
    width: auto !important;
}

.searchHead {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #19bfd3;
    padding: 1rem 0 .4rem;
    margin: 0 1.2rem;
    align-items: center;
    justify-content: flex-start;
}

.searchHead input {
    font-size: 1rem;
    padding: .5rem;
    width: 100%;
    border: none;
    caret-color: #19bfd3;
}

.searchHead>div,
.searchHead>a {
    flex-basis: 7.5%;
}

.searchHead>a {
    margin-left: 0;
}

.searchHead>div:hover {
    cursor: pointer;
}

.searchHead>div:nth-child(2) {
    flex-basis: 85%;
}

.searchHead>div:last-child {
    direction: ltr;
    display: none;
}

#searchInp:focus {
    border: none !important;
    outline: none;
}

.searchHead i {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .7);
}

.searchSectionDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.searchSectionDiv>a {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    margin: 0 1.2rem;
    font-size: .9rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    justify-content: space-between;
    align-items: center;
}

.searchSectionDiv>a:hover {
    background-color: rgba(0, 0, 0, .02);
}

.searchSectionDiv>a>div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 95%;
}

.searchSectionDiv>a>div:first-child>i {
    margin-left: 1rem;
}

.searchSectionDiv>a i {
    color: rgba(0, 0, 0, .6);
}

.searchResP {
    width: 85%;
    line-height: 25px;
}

/* ===========CATEGORY PAGE============= */

.catBody {
    background: rgb(219, 226, 242);
    background: linear-gradient(342deg, rgba(219, 226, 242, 1) 50%, rgba(119, 152, 215, 1) 100%);
}

.catHeader {
    background-color: #fff0 !important;
    border-bottom: none !important;
}

.catHeader a {
    margin: 1rem 1rem .5rem !important;
    background-color: #fff !important;
}

.catParent {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.catItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    flex-basis: calc(50% - 1rem);
    padding: 1rem 0;
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;
    height: 257px;
    margin: 0 .5rem 1rem;
}

.catItem:hover {
    cursor: pointer;
    background-color: #f9fafd;
}

.catItem:nth-child(2n - 1) {
    margin-left: .5rem;
}

.catItem:nth-child(2n) {
    margin-right: .5rem;
}

.catImg {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catImg img {
    width: 100px;
    object-fit: contain;
}

.catTitle h3 {
    font-weight: 100;
    font-size: .9rem;
    padding: 1rem;
    text-align: center;
}

.catInsideItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.catInsideItems li {
    margin-bottom: .5rem;
    font-size: .8rem;
}

/* PRODUCT CATEGORIES */

.categorySecond {
    padding: .7rem .5rem .5rem !important;
}

.categorySecond>a {
    height: 183px !important;
}

.catHeaderTask {
    width: auto;
    display: flex;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    margin: 1rem 1rem .7rem;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, .1);
}

.catHeaderTask h3 {
    font-size: 1rem !important;
    font-weight: 400;
}

.catHeaderTask>a {
    padding: 1rem 1rem .7rem !important;
    margin: 0 !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.catHeaderTask>a>i {
    font-size: 1rem;
    color: rgba(0, 0, 0, .8);
}

/* PRODUCTS */

.loveItem,
.itemDetail {
    border: none !important;
    color: rgba(0, 0, 0, .9) !important;
}

.loveItem:hover,
.itemDetail:hover {
    background-color: #fff !important;
    color: rgba(0, 0, 0, .9) !important;
}

/* CARTS */

.CartItems p {
    font-size: .9rem !important;
}

.cartItemSelfPrice {
    justify-content: flex-end !important;
}

.Item--price_offer_cart>p {
    color: #c0c2c5 !important;
}

.cartItemCalc {
    flex-direction: column !important;
    padding-top: .5rem;
}

.cartItemCalc>div {
    width: 100%;
    align-items: baseline !important;
}

.cartItemCalc>div>p:first-child {
    color: rgba(0, 0, 0, .6) !important;
}

.cartChangeValue {
    display: flex;
    flex-direction: row;
    width: 80px;
}

.cartChangeValue>a>i {
    color: rgba(0, 0, 0, .3);
    font-size: 1.1rem;
}

.cartChangeValue>a:hover i {
    color: rgba(0, 0, 0, .6);
}

.cartItem {
    position: relative;
}

.cartDeleteItem {
    position: absolute;
    top: 0;
    right: 0;
    color: #e6123d;
}

.cartDeleteItem:hover {
    color: #be0026;
}

.PageEmptyError {
    border: none !important;
}

.PageEmptyError>div {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    justify-content: center !important;
    background-color: rgb(255, 193, 7, .2);
    border-radius: 5px;
}

.PageEmptyError>div>p {
    color: rgba(0, 0, 0, .6) !important;
    text-align: center;
    line-height: 25px;
}

.finalize {
    flex-direction: row !important;
    justify-content: center !important;
    border: none !important;
}

.finalize>a {
    width: 80%;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    padding: 1rem;
    background-color: #17a2b8;
    text-align: center;
}

.finalize>a:hover {
    background-color: #118597;
}

.finalize>a>p {
    font-size: .9rem;
    color: #fff !important;
}

.CartCompleteBtn {
    background-color: #38ca62 !important;
}

.CartCompleteBtn:hover {
    background-color: #2eb353 !important;
}

/* PRODUCT DETAIL */

.productDetailBody {
    padding-bottom: 5rem;
}

.productDetailHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
}

.productDetailHeader>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.productDetailHeader i {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .8);
}

.productDetailHeader>div>a {
    margin-left: 1rem;
}

.productDetailHeader>div>a:hover {
    cursor: pointer;
}


.productDetailHeader>div:last-child>a:first-child {
    margin-left: 1.5rem;
}

.productDetailHeader>div>a:last-child {
    margin-left: 0;
}

.productDetailHeader h2 {
    color: #265073;
    font-family: "Lalehzar";
    font-size: 1.3rem;
    font-weight: 100;
}

.pDetailFooter {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    height: auto !important;
}

.pDetailFooter>a {
    padding: .8rem 2rem;
    font-size: .8rem;
    color: #fff;
    background-color: #ef4056;
    border-radius: 10px;
}

.pDetailFooter span {
    font-size: .8rem;
}

.pdPic {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pdPicItem {
    width: 50%;
    margin: 0 auto 1.5rem;
}

.pdPicItem>img {
    max-height: 13rem;
    object-fit: contain;
}

.owl-theme .owl-dots .owl-dot span {
    background-color: #d2e2e6;
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: #00858a;
}

.pdTitle {
    display: flex;
    flex-direction: column;
    margin: 1rem 1.5rem 0;
    padding-bottom: 1rem;
}

.pdTitle>div:first-child {
    margin-bottom: .5rem;
}

.pdTitle>div:first-child>a {
    color: #19bfd3;
    font-size: .8rem;
}

.pdTitle>div:first-child>span {
    color: rgba(0, 0, 0, .4);
    margin: 0 .2rem;
    font-size: .8rem;
}

.pdTitle>div:last-child>h3 {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 35px;
}

.pdOptions {
    margin: 0 1.5rem;
    padding: 1.5rem .5rem .5rem;
    border-top: 1px solid #00BCD4;
}

.pdOptions>p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.productOption {
    margin: 1rem 1.1rem;
}

.productOption::marker {
    color: #a1a3a8;
    font-size: .8rem;
}

.productOption>div {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0px;
    top: -2px;
}

.productOption>div>p {
    font-size: .8rem;
}

.productOption>div>p:first-child {
    color: #a1a3a8;
}

.productOption>div>p:last-child {
    margin-right: .5rem;
}

.hiddenPDIcon {
    color: #00BCD4;
    font-size: .9rem;
    position: absolute;
    left: 0;
    display: none;
}

.hiddenPDIcon:hover {
    cursor: pointer;
}

.productOptionHidden {
    padding: 1rem;
    border: 1px solid #00BCD4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

.productOptionHidden:hover {
    cursor: pointer;
    background-color: rgba(0, 188, 212, .1);
}

.productOptionHidden>i {
    color: #00BCD4;
}

.productOptionHidden>p {
    margin-bottom: 0;
}

.productOptionHidden>ul {
    display: none;
}

.productOptionHidden>div {
    display: none;
}

.PDdescription {
    margin-bottom: 1rem;
}

.PDdescription>p {
    color: rgba(0, 0, 0, .8);
    font-size: .9rem;
    line-height: 30px;
}

.pdOfferPrice {
    font-size: .9rem;
    color: #c0c2c5;
    text-decoration-line: line-through;
    margin-top: .2rem;
}

.pdPrice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productDetailHr {
    width: calc(100% - 3rem);
    margin-top: 3rem;
}

.firstProductDetailHr {
    margin-top: 2.5rem;
}

.related-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 1rem 1.5rem 1rem 1rem;
}

.related-item .owl-dots {
    position: absolute;
    top: 30px;
    width: 100%;
}

.related-item .owl-dots .active span {
    background-color: #ff00ee !important;
}

.CommentItem {
    padding: 1rem 1.5rem;
}

.newComment {
    border: 1px solid #00BCD4;
    width: 100%;
    border-radius: 5px;
    font-size: .9rem;
    display: flex;
    flex-direction: column;
}

.newComment>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.newCommentHover:hover {
    cursor: pointer;
    background-color: rgba(0, 188, 212, .1);
}

.newComment i {
    color: #00BCD4;
}

.newComment i:last-child {
    color: #ef4056;
}

.newComment i:last-child:hover {
    cursor: pointer;
    color: #ff8d9d;
}

.BtnDeActive {
    display: none;
}

#newCommentForm {
    display: none;
    flex-direction: column;
    padding: 1rem;
    padding-top: 0;
}

#newCommentForm button,
.commentFooter div {
    border: none;
    outline: none;
    background-color: #38ca62;
    color: white;
    border-radius: 3px;
    padding: 0.6rem 1.3rem;
    margin: 0.3rem auto;
}

#newCommentForm button:hover,
.commentFooter div:hover {
    cursor: pointer;
    background-color: #2eb353;
}

#newCommentForm textarea,
#newCommentForm input {
    max-width: 100%;
    min-width: 100%;
    height: 10rem;
    width: 100%;
    outline: none;
    font-size: .9em;
    margin-bottom: 1rem;
    padding: 12px;
    border-radius: 3px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgba(0, 0, 0, .05);
    line-height: 20px;
}

#newCommentForm textarea:focus,
#newCommentForm input:focus {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: inset 2px 2px #50c8ff, inset -2px -2px #0095da;
}

#newCommentForm textarea:hover,
#newCommentForm input:hover {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: inset 2px 2px #50c8ff, inset -2px -2px #0095da;
}

#newCommentForm img {
    height: 4rem;
    width: 100%;
    margin: 1rem 0;
}

#newCommentForm label {
    margin-bottom: 1rem;
    color: #540008;
}

#newCommentForm input {
    height: 38px;
}

.comment {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 7px 0 #eaeff4;
    -moz-box-shadow: 0 0 7px 0 #eaeff4;
    -webkit-box-shadow: 0 0 7px 0 #eaeff4;
    position: relative;
    border: 1px solid #ecf0f4;
    background-color: #fff;
    margin: 1rem 0;
    font-size: .9rem;
    padding: 1.5rem;
}

.commentHeader {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.commentHeader p:last-child {
    font-size: .8rem;
    margin-top: .5rem;
    color: rgba(0, 0, 0, .7);
    line-height: 25px;
}

.commentText {
    color: rgba(0, 0, 0, .8);
    font-size: .85rem;
    line-height: 25px;
    margin-bottom: 1rem;
}

.commentFooter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.commentFooter div {
    margin: 0;
    font-size: .8rem;
    padding: .5rem 1rem;
}

.commentReply {
    width: 85%;
    margin-right: auto;
    position: relative;
}

.commentReply .commentText {
    margin-bottom: 0;
}

 .replyLine {
    width: 2px;
    height: 10rem;
    position: absolute;
    background-color: #e3e3e3;
    right: -10%;
    top: -13%;
}

.replyLine2 {
    width: 10%;
    height: 2px;
    position: absolute;
    background-color: #e3e3e3;
    right: -10%;
    top: 50%;
}





@media screen and (max-width:410px) {
    .best-item a:nth-child(2) i {
        padding-left: .2rem;
        padding-right: 0;
    }

    .best-item a:nth-child(2) p {
        display: block !important;
    }
}

@media screen and (max-width:500px) {

    .OSsave,
    .OSstatus,
    .OSprice,
    .OSitems {
        padding: 1rem 0 0;
    }
}

@media screen and (min-width:500px) {
    section:not(.PDSection, .catParent) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #sectionContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .catItem {
        flex-basis: calc(33.33% - 1rem);
    }

    .pdPrice {
        flex-direction: row-reverse;
    }

    .pdOfferPrice {
        margin: .5rem;
    }
}

@media screen and (min-width:600px) {
    .Items {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .Item {
        flex-basis: 50%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .Item:nth-child(odd),
    .Item:last-child {
        border-left: 1px solid rgba(0, 0, 0, .1);
    }

    .Item:nth-child(even) {
        border-left: none;
    }
}

@media screen and (min-width:700px) {
    .catItem {
        flex-basis: calc(25% - 1rem);
    }

    .catBody {
        height: 100vh;
    }
}

@media screen and (min-width:800px) {
    .searchHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .searchHeader>div {
        width: 800px !important;
    }

    .searchSectionDiv {
        width: 800px;
    }

    .sectionHeader {
        border: 1px solid rgba(0, 0, 0, .05);
        border-top: 0;
        width: 720px;
    }

    .orderShortcut {
        width: 720px;
        border: 1px solid rgba(0, 0, 0, .05);
        border-top: none;
    }

    .ODdetailSection>div {
        width: 720px;
        border-right: 1px solid rgba(0, 0, 0, .1);
        border-left: 1px solid rgba(0, 0, 0, .1);
    }

    .PDSection {
        width: 800px;
        margin: 0 auto;
        border-right: 1px solid rgba(0, 0, 0, .05);
        border-left: 1px solid rgba(0, 0, 0, .05);
    }

    .pDetailFooter {
        width: 800px !important;
        margin: 0 calc((100% - 800px) / 2);
        border-right: 1px solid rgba(0, 0, 0, .05);
        border-left: 1px solid rgba(0, 0, 0, .05);
    }

    .productDetailHeader {
        width: 800px;
        margin: 0 auto;
        border-right: 1px solid rgba(0, 0, 0, .05);
        border-left: 1px solid rgba(0, 0, 0, .05);
    }
}

@media screen and (min-width:1000px) {
    .Item {
        flex-basis: 33.33%;
    }

    .Item:last-child {
        border-left: 1px solid rgba(0, 0, 0, .1);
    }

    .Item:nth-child(odd) {
        border-left: none;
    }

    .Item:nth-child(3n - 1) {
        border-left: 1px solid rgba(0, 0, 0, .1);
        border-right: 1px solid rgba(0, 0, 0, .1);
    }

    .catItem {
        flex-basis: calc(20% - 1rem);
    }
}

@media screen and (min-width:1300px) {
    .catItem {
        flex-basis: calc(16.66% - 1rem);
    }
}

@media screen and (min-width:1500px) {
    .Item {
        flex-basis: 25%;
    }

    .Item:nth-child(odd) {
        border-left: none;
    }

    .Item:nth-child(3n - 1) {
        border-left: none;
        border-right: none;
    }

    .Item:nth-child(4n - 1) {
        border-left: 1px solid rgba(0, 0, 0, .1);
        border-right: 1px solid rgba(0, 0, 0, .1);
    }

    .Item:nth-child(4n - 2) {
        border-right: 1px solid rgba(0, 0, 0, .1);
    }

    .Item:last-child {
        border-left: 1px solid rgba(0, 0, 0, .1);
    }

    .Item:nth-child(4n) {
        border-left: none;
    }

    .catItem {
        flex-basis: calc(14.28% - 1rem);
    }
}

@media screen and (min-width:1920px) {
    .catItem {
        flex-basis: calc(12.5% - 1rem);
        max-width: 222px;
    }
}